* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: var(--Light-gray);
  padding-top: 45px;
}

.structure {
  width: 35%;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--White);
  text-align: center;
}

.structure img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.structure h1 {
  width: 93%;
  margin: 0 auto 20px;
  font-size: 2.3rem;
  color: var(--Dark-blue);
}

.structure p {
  width: 93%;
  margin: 0 auto;
  font-size: 1.65rem;
  color: var(--Grayish-blue);
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 376px) {
  .container {
    width: 100%;
    background-color: var(--Light-gray);
    padding-top: 30px;
  }

  .structure {
    width: 80%;
    border-radius: 10px;
    padding: 10px 10px 30px;
    background-color: var(--White);
    text-align: center;
  }

  .structure img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .structure h1 {
    width: 95%;
    margin: 0 auto 10px;
    font-size: 1.4rem;
    color: var(--Dark-blue);
  }

  .structure p {
    width: 93%;
    margin: 0 auto;
    font-size: 0.95rem;
    color: var(--Grayish-blue);
  }
}
